<section class="contato_background">
  <div class="container_grid contato_text">
    <h1>Central de Atendimento ao Cliente</h1>
    <p>
      Confira abaixo as formas de contato disponíveis em nossa loja, estamos
      ansiosos em lhe atender da melhor maneira possível.
    </p>
  </div>
  <div class="container_grid contato_box">
    <div class="contato_info">
      <h2>Endereço:</h2>
      <p>Avenida Lorem Ipsum, n. 10, Centro, São Paulo-SP</p>
      <h2>Contato:</h2>
      <p>(11) 0000-0000 e (11) 00000-0000</p>
      <p>gamemania@gamemania.com</p>
      <h2>Horário de Atendimento</h2>
      <p>
        Atendemos presencialmente de segunda a sexta das 8h às 18h e pelo
        Whatsapp de segunda a sábado das 8h às 21h.
      </p>
      <h2>Dados da Empresa:</h2>
      <p>
        Game Mania Informática e Games Ltda. CNPJ: 00.000.000/0001 | São Paulo -
        SP
      </p>
      <br />
    </div>
  </div>
</section>
